.header {
  max-width: 1184px;
  width: calc(100vw - 96px);
  display: flex;
  justify-content: space-between;
  align-items: center;
}

@media screen and (min-width: 320px) and (max-width: 965px) {
  .header {
    width: auto;
  }
}
